.mainContainer {
  flex: 1;
  margin: 2rem auto;
  max-width: 1100px;
  box-shadow: 0 0 4px var(--gray-400);
  border-radius: 16px;
  padding: 1.5rem;

  .goToBack {
    font-size: 1rem;
    color: var(--gray-400);
    transition: 300ms;

    display: flex;
    align-items: center;
    gap: 4px;

    &:hover {
      color: var(--gray-600);
    }
  }

  .bioTypeContainer {
    margin-top: 2rem;

    h1 {
      font-size: 1.5rem;
    }

    .bioTypeCardContainer {
      margin-top: 2rem;

      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 1rem;

      .bioTypeCard {
        box-shadow: 0 0 4px rgba(100, 100, 100, 0.3);
        padding: 1.2rem 1rem;
        border-radius: 4px;
        flex: none;


        .cardHeader {
          display: flex;
          align-items: center;
          justify-content: center;

          border-bottom: 1px solid var(--gray-200);
          padding-bottom: 1rem;
          margin-bottom: 1rem;
          color: var(--gray-300);
        }

        .cardContent {

          li {
            list-style: none;
            margin-bottom: .5rem;
            font-size: 0.875rem;
          }

          li+li {
            margin-bottom: .5rem;
          }
        }
      }
    }

  }

  .testContainer {
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2 {
      font-weight: 500;
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }

    img {
      max-width: 420px;
      max-height: 200px;
    }
  }

  p {
    margin-top: 2rem;
    font-size: 0.875rem;
    line-height: 1.2rem;
  }

  @media (max-width: 1080px) {
    margin: 2rem;
  }
}