:root {
  --primary: #37B947;

  --white: #FFFFFF;

  --blue-100: #E3E6F3;
  --blue-300: #4EA8DE;
  --blue-500: #7477BD;
  --blue-600: #1E6F9F;

  --red-50: #FADFDF;
  --red-100: #EDB4B4;
  --red-500: #E25858;
  --red-600: #FF4343;

  --green-50: #E2F6E4;
  --green-200: #9BEEA5;
  --green-300: #67D16E;
  --green-400: #37B947;
  --green-500: #00B37E;
  --green-600: #79FFAF;
  --green-700: #00875F;
  --green-900: #034808;

  --yellow-50: #FBF5E2;
  --yellow-500: #FDE497;

  --gray-50: #FAFAFA;
  --gray-100: #F2F2F2;
  --gray-200: #E9E6E6;
  --gray-250: #989898;
  --gray-300: #8D8D99;
  --gray-400: #808080;
  --gray-500: #555555;
  --gray-600: #333333;
  --gray-700: #262626;
  --gray-800: #202024;
  --gray-900: #121214;

  --orange-300: #fbc154;
  --orange-400: #FFA500;
  --orange-500: #db9004;
  --orange-600: #bc7b04;

  --purple-100: #D6DFFF;
  --purple-200: #B5B4ED;
  --purple-400: #8284FA;
  --purple-600: #5E60CE;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--primary);
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scrollbar-color: var(--green-400) var(--green-200);
}

body {
  background-color: var(--gray-50);
  color: var(--gray-500);
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: var(--green-200);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--green-400);
    border-radius: 3px;

  }
}


body,
input,
textarea {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Nunito', sans-serif;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}